div:nth-child(2) a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.Navbar{
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    background-color:rgba(0, 0, 0, 0.116)
}

.navbar-links{
    margin-top:15px;
    margin-left:30px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}